@page "/build"
@inject IBananaService BananaService
@inject IUnitService UnitService

<h3>Build</h3>

<button class="btn btn-primary" @onclick="() => EatBanans(10)">Eat Bananas</button>

@code {
    int selectedUnitId = 1;

    public void BuildUnit()
    {
        
    }
}
